{% extends "base.html" %}

    <div id="page-index" class="mdui-container">
      {% block container %}
      <div class="to">
        <img src="./static/hahaha.jpg" />
      </div>
      <div class="main">
        <div class="mdui-typo-display-2">Hello , xiao_zhe</div>

        </br>
        <button onclick="window.location.href='./lunch'" id="lunch" class="self-lunch mdui-btn mdui-btn-raised"><div class="mdui-typo-headline">开始游戏</div></button>
      </div>
    </div>





  <div class="mdui-dialog mdui-container" id="login">
    <div class="mdui-tab mdui-tab-centered" mdui-tab>
      <a href="#example3-tab1" class="mdui-ripple .mdui-tab-active">正版登录</a>
      <a href="#example3-tab2" class="mdui-ripple">离线登录</a>
      <a href="#example3-tab3" class="mdui-ripple">Color OS登录</a>
    </div>
    <div class="mdui-textfield mdui-textfield-floating-label">
      <label class="mdui-textfield-label">账户</label>
      <input class="mdui-textfield-input" type="email" />
    </div>
    <div class="mdui-textfield mdui-textfield-floating-label">
      <label class="mdui-textfield-label">密码</label>
      <input class="mdui-textfield-input" type="email" />
    </div>

    <div class="mdui-dialog-actions">
      <button class="mdui-btn mdui-ripple">登录</button>
      <button class="mdui-btn mdui-ripple">注册（Color OS）</button>
    </div>
  </div>

<style>
  .to img {
    width: 300px;
    height: 300px;
    border-radius: 300px;
  }

  .to {
    display: block;
    margin-top: 5%;
    margin-left: 35%;
  }

  .main {
    margin-left: 35%;
  }
  .self-lunch{
    width: 300px;
    height: 60px;
  }
</style>
{% if check %}
<script>
mdui.confirm('发现了新版本，是否更新？更新内容:</br>{{ content }}', '发现更新', function(){
  mdui.alert('点击了确认按钮');
});
</script>
{% endif %}
{% endblock %}
