{% extends "base.html" %}

{% block container %}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<div id="toptab" class="mdui-tab mdui-tab-full-width" mdui-tab>
    <a href="#junior" class="mdui-ripple">普通设置</a>
    <a href="#senior" class="mdui-ripple">高级设置</a>
    <a href="#pmcl" class="mdui-ripple">PMCL设置</a>
</div>
</br>


<form id="junior">
    <label>版本：</label>
    <select class="mdui-select" id="versionSelector" mdui-select="{position: 'bottom'}">
        {% for version in versions %}
        <option value="{{version}}">{{version}}</option>
        {% endfor %}
    </select></br>
    <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">游戏路径</label>
        <input class="mdui-textfield-input" id="gamePath" />
    </div>
    <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">JAVA路径</label>
        <input class="mdui-textfield-input" id="javaPath">
    </div>
    <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">最大内存</label>
        <input class="mdui-textfield-input" id="maxMem">
    </div>
    <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">分辨率</label>
        <input class="mdui-textfield-input" id ="length"><div>x</div><input id="height" class="mdui-textfield-input">
    </div>
    <button onclick=junior()   class="mdui-btn mdui-btn-raised mdui-ripple">SAVE</button>
</form>
</div>

<form id="senior" action="">
    <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">Java虚拟机参数</label>
        <input class="mdui-textfield-input" disabled />
    </div>
    <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">Minecraft额外参数</label>
        <input class="mdui-textfield-input" disabled />
    </div>
    <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">内存永久保存区域</label>
        <input class="mdui-textfield-input" disabled />
    </div>
    <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">直入服务器IP</label>
        <input class="mdui-textfield-input" disabled />
    </div>
    <div>
        <label class="mdui-checkbox">
            <input type="checkbox" />
            <i class="mdui-checkbox-icon" disabled></i>
            调试模式
        </label>
        <label class="mdui-checkbox">
            <input type="checkbox" />
            <i class="mdui-checkbox-icon" disabled></i>
            不添加JVM参数（使用JAVA9时必勾选）
        </label>
    </div>
    <button class="mdui-btn mdui-btn-raised mdui-ripple">SAVE</button>
</form>

<form id="pmcl" action="">
    <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">背景地址</label>
        <input id="bkimg" class="mdui-textfield-input" />
    </div>
    <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">下载源</label>
        <input id="downloadsource" class="mdui-textfield-input" />
    </div> 
     <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">端口</label>
        <input id="port" class="mdui-textfield-input" />
    </div>
    <label>主题：</label>
    <select class="mdui-select" disabled  mdui-select="{position: 'bottom'}">
        <option value="MDUI">MDUI</option>
    </select>
</br>
    <label>主题记忆：</label>
    <select class="mdui-select" disabled mdui-select="{position: 'bottom'}">
        <option value="3h">3h</option>
        <option value="1d">1d</option>
        <option value="15d">15d</option>
        <option value="30d">30d</option>
    </select>
  
    </br>
    <label class="mdui-checkbox">
        <input id="debug" type="checkbox"/>
        <i class="mdui-checkbox-icon"></i>
        Debug模式
      </label> 
    </br>
    <div>
        <div class="mdui-col">
            <button class="mdui-btn mdui-btn-block mdui-btn-raised  mdui-ripple">关于作者</button>
        </div>
        <div class="mdui-col">
            <button class="mdui-btn mdui-btn-block mdui-btn-raised  mdui-ripple">检查更新</button>
        </div>
    </div>
    </br>
    <button onclick=pmcl() class="mdui-btn mdui-btn-raised mdui-ripple">SAVE</button>
</form>

<style>
    #saveButton {
        float: right;
    }

    #versionSelector {
        width: 300px !important;
    }

    #senior {
        display: none;
    }
</style>
<script>
    function junior(){
        var junior = {} 
        junior.version=$("#versionSelector").val();
        junior.gamePath = $("#gamePath").val();
        junior.javaPath=$("#javaPath").val();
        junior.maxMem=$("#maxMem").val();
        junior.length=$("#length").val();
        junior.height=$("#height").val(); 
        var jsonstr = JSON.stringify(junior)
        $.ajax({
            type:"POST",
            url:'/juniorjson',
            contentType: "application/json;charset=utf-8",
            data:jsonstr,
            success:function (message) {
                alert("提交成功"+JSON.stringify(message));
            },
            error:function (message) {
                alert("提交失败"+JSON.stringify(message));
            }
        })
    }
    function pmcl(){
        var pmcl = {} 
        pmcl.bkimg=$("#bkimg").val();
        pmcl.downloadsource = $("#downloadsource").val();
        pmcl.port=$("#port").val();
        pmcl.debug=$("#debug").val();
        var jsonstr = JSON.stringify(pmcl)
        $.ajax({
            type:"POST",
            url:'/pmcljson',
            contentType: "application/json;charset=utf-8",
            data:jsonstr,
            success:function (message) {
                alert("提交成功"+JSON.stringify(message));
            },
            error:function (message) {
                alert("提交失败"+JSON.stringify(message));
            }
        })
    }

</script>
{% endblock %}